deploy
    1.1.1.1  user1  password1
    2.2.2.2  user2  #use Public key authentication
    3.3.3.3  user3 -i /path/to/id_file.pem  #use id file to login
Online-1
    4.4.4.4 user password #the first node will default as the below server's jumper server,if below server with section of indent
    intenal.server # below servers will use 4.4.4.4 as the jumper server
        10.0.2.10 user3 password3
        10.0.2.11 user4 password4
Online-2
    5.5.5.5:22222 user5 password5 #use the special port
    6.6.6.6 user6 password6